{{ partial "header.html" . }}
{{ partial "page-banner" . }}
        
    <!-- Main Content -->
    <!-- DEFAULT SECTION TEMPLATE -->
    <div class="container documentation-section-template">
        <div class="row">
	        <div class="col-md-10  col-md-offset-1">            
	            <div class="col-md-9">
	                {{ partial "languages" . }} {{ partial "breadcrumbs" . }}
	            </div>
	            <div class="col-md-3">
	                {{ partial "documentation/search" }}
	            </div>
	        </div>
        </div>
        {{ $.Scratch.Set "shown" false }}
        
        {{ if .Params.toc }}
        <!-- start TOC -->
            {{ partial "table-of-contents" . }}
        <!-- end TOC -->
        {{ end }}

        {{ partial "documentation-page-and-subnav.html" (dict "thismenu" .Site.Menus.documentation "page" . "site" .Site "hideChildren" .Params.hideChildren "global" $ ) }}
        
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                {{ partial "related.html" . }}
            </div>
        </div>
        

        {{ partial "infoline.html" . }}
        
    </div>


{{ partial "footer.html" . }}