    <script>

    function fakeClick(){
      $('a[href="#tabs-metadatasearch"]').trigger('click');
    }

    var $searchstring = '';

    jQuery(document).ready(function ($) {

      var typingspeed = 80;
      var exampledelay = 3000;

      var MQL = 1170;

      // these 2 are identical apart from the element selector! should be refactored.

      var client = algoliasearch('{{ if isset .Site.Params "algolia_apikey" }}{{ .Site.Params.algolia_apikey }}{{ else }}QSQNJS2NQU{{ end }}', '{{ if isset .Site.Params "algolia_apisecret" }}{{ .Site.Params.algolia_apisecret }}{{ else }}7d7dfcf22bf2af9070353d9f5a7c89c0{{ end }}');
      var index = client.initIndex('{{ if isset .Site.Params "algolia_index" }}{{ .Site.Params.algolia_index }}{{ else }}testweb{{ end }}');

      var doiPattern = /10\./

      function checkPattern(input) {
        if (doiPattern.test(input)) {
          return true;
        } else {
          return false;
        }
      }

      var typing_loop;
      (function($) {
        $.fn.writeText = function(content) {
            var contentArray = content.split(""),
                current = 0,
                elem = this;
                elem.val('');
                // elem.focus();
            typing_loop = setInterval(function() {
                if(current <= contentArray.length) {
		              elem.val(content.substring(0, current++));
                  //console.log(elem.val());
                  elem.change();
                }
            }, typingspeed);
        };

    })(jQuery);



      var hcwhtopInput = document.getElementById("howcanwehelptop");




      autocomplete('#howcanwehelptop', {
          hint: false,
          openOnFocus:true
        },
        [{
          source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
          displayKey: 'title',
          templates: {
            header : function() {
              if (checkPattern(hcwhtopInput.value)){
                doi = "<div class='aa-footer aa-meta-link'>It looks like you are searching for a specific DOI, do you want to <a target='_blank' href='https://search.crossref.org/?from_ui=yes&q=" + hcwhtopInput.value + "'>try this as a Metadata Search?</a></div>";
                //location.href = "https://search.crossref.org/?q=" + hcwhInput.value;
              } else {
                doi = '';
              }
              return doi;
            },
            suggestion: function(suggestion) {
              sectionValue = suggestion._highlightResult.section.value.replace(/\-/g, " ")
              titleValue = suggestion._highlightResult.title.value
              result ="<a href='"
      	  			+ suggestion.url
      	  			+ "'>"
      	  			+ "<div class='autosuggest-section'>"
        				+ sectionValue
        				+ "</div><div class='autosuggest-title'>"
        				+ titleValue
        				+ "</div></a>";
        			return result;
            },
            empty: function() {
              return '<div class="aa-empty">We don\'t have anything on that topic. Please try editing your search or typing something new.</div>';
            },
            footer: function () {
              return "<div class='aa-footer'><span class='middle'>|</span><span class='left'><a href='/site-search/?query=" + hcwhtopInput.value + "'>More results</a></span><span class='right'><a target='_blank' href='https://search.crossref.org/?from_ui=yes&q=" + hcwhtopInput.value + "'>Search metadata</a></span></div>";
            }
          }
        }
      ]).on('autocomplete:selected', function(event, suggestion, dataset) {
        location.href = suggestion.url;
      });


      var hcwhInput = document.getElementById("howcanwehelp");

      var original_placeholder = $("#howcanwehelp").attr('placeholder');

      var example_queries = [];
      {{ $dataJ := getJSON "/data/algolia/examplequeries.json" }}
      {{ range $dataJ.examplequeries }}
        example_queries.push({{ .query }});
      {{ end }}


      var counter = 0;
      var maxcounter = example_queries.length;
      var examples_loop = setInterval(function() {
        //console.log('loop ' + counter);
        if(counter == maxcounter){
          counter = 0;
          //console.log('killing loop');
          $("#howcanwehelp").val('');
          clearInterval(examples_loop);
        } else {
          $("#howcanwehelp").writeText(example_queries[counter++]);
        }
      }, exampledelay);

      $( "#howcanwehelp" ).click(function() {
        //console.log('focus');
        clearInterval(typing_loop);
        clearInterval(examples_loop);

        $("#howcanwehelp").val('');

      });



      autocomplete('#howcanwehelp', {
          hint: false,
          openOnFocus:true
        },
        [{
          source: autocomplete.sources.hits(index, {hitsPerPage: 5}),
          displayKey: 'title',
          templates: {
            header : function() {
              if (checkPattern(hcwhInput.value)){
                doi = "<div class='aa-footer aa-meta-link'>It looks like you are searching for a specific DOI, do you want to <a target='_blank' href='https://search.crossref.org/?from_ui=yes&q=" + hcwhInput.value + "'>try this as a Metadata Search?</a></div>";
                //location.href = "https://search.crossref.org/?from_ui=yes&q=" + hcwhInput.value;
              } else {
                doi = '';
              }
              return doi;
            },
            suggestion: function(suggestion) {

              sectionValue = suggestion._highlightResult.section.value.replace(/\-/g, " ")
              titleValue = suggestion._highlightResult.title.value
              result ="<a href='"
              			+ suggestion.url
              			+ "'>"
              			+ "<div class='autosuggest-section'>"
                        + sectionValue
                        + "</div><div class='autosuggest-title'>"
                        + titleValue
                        + "</div></a>";
              return result;
            },
            empty: function () {
              return '<div class="aa-empty">We don\'t have anything on that topic. Please try editing your search or typing something new.</div>';
            },
            footer: function () {
              return "<div class='aa-footer'><span class='middle'>|</span><span class='left'><a href='/site-search/?query=" + hcwhInput.value + "'>More results</a></span><span class='right'><a target='_blank' href='https://search.crossref.org/?from_ui=yes&q=" + hcwhInput.value + "'>Search metadata</a></span></div>";
            }
          }
        }
      ]).on('autocomplete:selected', function(event, suggestion, dataset) {
        location.href = suggestion.url;
    });

    });
    </script>
