{{ if .Params.doi }}
    <div class="doi-wrap">
        <img class="site-logo" src="/img/crossref-logo-icon-only.svg" height="15" alt="Crossref logo icon"><a href="{{ .Params.doi }}">{{ .Params.doi }}</a>
    </div>
{{ end }}