{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<ul class="cr-pagination visible-md visible-lg">
    {{ with $pag.First }}
    <li>
        <a href="{{ .URL }}" aria-label="First"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    </li>
    {{ end }}
    <li
            {{ if not $pag.HasPrev }}class="disabled"{{ end }}>
        <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </li>

    {{ range $index, $element := $pag.Pagers }}
    {{ $less := lt (sub $pag.PageNumber $index) 4 }}
    {{ $more := gt (sub $pag.PageNumber $index) -9 }}
        {{ if and $less $more }}
        <li {{ if eq $element $pag }}class="active"{{ end }}><a href="{{ $element.URL }}">{{ $element.PageNumber }}</a></li>
        {{ end }}
    {{ end }}
    <li {{ if not $pag.HasNext }}class="disabled"{{ end }}>
        <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
    {{ with $pag.Last }}
    <li>
        <a href="{{ .URL }}" aria-label="Last"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </li>
    {{ end }}
</ul>
<ul class="cr-pagination visible-xs visible-sm">
    {{ with $pag.First }}
    <li>
        <a href="{{ .URL }}" aria-label="First"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
    </li>
    {{ end }}
    <li
            {{ if not $pag.HasPrev }}class="disabled"{{ end }}>
        <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </li>

    {{ range $index, $element := $pag.Pagers }}
    {{ $less := lt (sub $pag.PageNumber $index) 4 }}
    {{ $more := gt (sub $pag.PageNumber $index) -4 }}
    {{ if and $less $more }}
    <li {{ if eq $element $pag }}class="active"{{ end }}><a href="{{ $element.URL }}">{{ $element.PageNumber }}</a></li>
    {{ end }}
    {{ end }}
    <li {{ if not $pag.HasNext }}class="disabled"{{ end }}>
        <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
    </li>
    {{ with $pag.Last }}
    <li>
        <a href="{{ .URL }}" aria-label="Last"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </li>
    {{ end }}
</ul>
{{ end }}
