/* define colors for use elsewhere */
.font-crossref-red {
  color:$crossref-red;
}
.font-crossref-darkgrey {
  color:$crossref-darkgrey;
}
.font-crossref-yellow {
  color:$crossref-yellow;
}
.font-crossref-blue {
  color:$crossref-blue;
}
.font-crossref-green {
  color:$crossref-green;
}
.font-crossref-lightgrey {
  color:$crossref-lightgrey;
}
.font-crossref-darkyellow {
  color:$crossref-darkyellow;
}
.font-crossref-darkred {
  color:$crossref-darkred;
}
.font-crossref-darkblue {
  color:$crossref-darkblue;
}
.font-crossref-darkbeige {
  color:$crossref-darkbeige;
}
.font-crossref-orange {
  color:$crossref-orange;
}
.font-white {
  color:#ffffff;
}
.font-small {
	font-size:1em !important;
}
.font-medium {
	font-size:2em !important;
}
.font-large {
	font-size:3em !important;
}
.font-xlarge {
	font-size:4em !important;
}
