<section>
<div class="blog-box">
	<h2>Recent Userdocs</h2>
	
	    {{ range first 4 (where .Site.Pages  "Section" "userdocs") }}
	    	<div class="item">
	    		<p class="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
	    		<p class="date">{{ .Date.Format "2006 January 02" }}</p>
		    </div>
	    {{ end }}
	
</section>