<script type="text/javascript">
  var onloadCallback = function() {
    grecaptcha.render('html_element', {
      'sitekey' : '6LcTOPUZAAAAAGkk7p1YCprz60m6h2vlnaqnYffL'
    });
  };
</script>


<noscript>
	<div>
		<strong>It looks like you don't have javascript enabled so please contact us through one of the methods mentioned above.</strong>
		<style type="text/css">
			.contact-shortcode { display:none; }
		</style>
	</div>
</noscript>

<div class='contact-shortcode'>

<div class="required-text">
	<p>Mandatory fields are marked with an *.</p>
</div>

<form id="contact-form" action="https://formspree.io/{{ .Site.Params.formspree.contact }}" method="POST" autocomplete="on">
	<input type="text" name="_gotcha" style="display: none" />
	<input type="hidden" name="_subject" value="Website Contact Form Submission" />
    <input type="hidden" name="_message" value="{{ .Site.Data.contact.questions.message }}" />
	<input type="hidden" name="_next" value="https://www.crossref.org/contact-thank-you" />
	<input type="hidden" name="_referrer_url" value="" />
	<input type="hidden" name="_format" value="plain" />

	<fieldset>
		<label for = "contact_firstname">{{ .Site.Data.contact.questions.first_name }}</label>
		<input type="text" class=""  id="contact_firstname" name="1. First Name" value="" autocomplete="given-name" required>
		<br />
		<label for = "contact_lastname">{{ .Site.Data.contact.questions.last_name }}</label>
		<input type="text" class="" id="contact_lastname" name="2. Last Name" value="" autocomplete="family-name" required>
		<br />
		<label for = "contact_email">{{ .Site.Data.contact.questions.email_address }}</label>
		<input type="email" class="" id="contact_email" name="_replyto" value="" autocomplete="email" required>
		<br />
		<label for = "contact_org">{{ .Site.Data.contact.questions.company_name }}</label>
		<input type="text" class=""  id="contact_org"  name="4. Company Name" value="" required>
		<br />
		<label for = "contact_prefix">{{ .Site.Data.contact.questions.prefix }}</label>
		<input type="text" class=""  id="contact_prefix"  name="5. Your prefix"  value="">
		<br />
		<label for = "contact_job">{{ .Site.Data.contact.questions.job_title }}</label>
		<input type="text" class="" id="contact_job" name="6. Job Title" value="" autocomplete="organization-title">
		<br />
		<label for = "contact_select">{{ .Site.Data.contact.questions.my_question }}</label>
		<select size="1" id="contact_select" name="6. Question is about" class="" required>
	        <option disabled selected value> -- Please select --</option>
	        {{ range .Site.Data.boilerplate.contact_subjects.dropdown }}
	        <option id="{{ .id }}" value="{{ .value }}">{{ .text }}</option>
	        {{ end }}
	    </select>


		<br />
		{{ .Site.Data.boilerplate.contact_techsupport_reg.content | markdownify }}
		{{ .Site.Data.boilerplate.contact_joining_text.content | markdownify }}
		<label for="contact">{{ .Site.Data.contact.questions.my_question_text_label }}</label>
		<textarea class="" id="contact-inquiry" name="7. Inquiry Message"></textarea>
		<br />
        <div id="html_element"></div>
		<br />
		<input  id="contact-form-submit" 
		        type="submit" 
		        name="8. Submit" 
		        value="{{ .Site.Data.contact.questions.submit_text }}"
		>

	</fieldset>

</form>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
</div>

<data id="profanity_filter" type="text" value="{{ range .Site.Data.boilerplate.profanity_filter.words.word }}{{ .value }},{{ end }}"></data>

