<figure><img src='{{ .Get "src"}}' alt='{{ .Get "alt" }}' title='{{ .Get "title" }}' width='75%'></figure>
<button id="show-img" type="button" class="btn btn-default" data-toggle="modal" data-target='#{{ .Get "id" }}'>Show image</button>
<div id='{{ .Get "id" }}' class="modal fade" aria-labelledby="my-modalLabel" aria-hidden="true" tabindex="-1" role="dialog">
    <div class="modal-dialog" data-dismiss="modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <img src='{{ with .Get "large"}}{{.}}{{else}}{{.Get "src"}}{{end}}' class="img-responsive" style="width: 100%;">
            </div>
        </div>
    </div>
</div>