<div class="col-md-3 col-sm-4 col-xs-12 staff-single">
    <a href="/people/{{ string (.fullname) | plainify | urlize }}" alt="{{ string (.fullname) }}">
        
        	
    	<div class='staff-image-container'>
    	    <img id='modal_box_{{ replace (string (.fullname)) " " "_"}}' src="{{ .image }}" />
            <div class="staff-hover"></div>
        </div>
        <div class="staff-bio-container">
            <h2 class='fullname'>{{ string (.fullname) }}</h2>
            <div class='jobtitle'>{{ string (.title) }}</div> 
            <div class='department'>{{ string (.department) }}</div>
        </div>
        
        <div class='staffmore'>more &raquo;</div>
    </a>
</div>