    <!-- OG tags -->
	<meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{if .Params.Sitename}}{{.Params.Sitename}}{{else}}{{.Site.Params.Sitename}}{{end}}" />
    <meta property="og:description" content="{{if .Params.Description}}{{.Params.Description}}{{else if .Summary}}{{.Summary}}{{else}}{{.Site.Params.Description }}{{end}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{if .Params.image}}{{.Params.image | absURL}}{{else}}{{.Site.Params.image}}{{end}}" />
    {{ if not .Date.IsZero }}<meta property="og:updated_time" content="{{ dateFormat "2006-01-02T15:04:05" .Date  }}" />{{ end }}